html {
    background-color: #69626D;
    font-family: 'Open Sans', sans-serif;
}

#banner {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 1.5em;
    left: 0;
    z-index: 1;
    text-align: center;
    position: fixed;
    background-color: #70C1B3;
    font-size: xx-large;
}

#canvas {
    margin-top: 4em;
}

#actions {
    text-align: center;
    margin-bottom: 2em;
}

input {
    padding: .8em;
    border-radius: 5px;
    background-color: #70C1B3;
}

button {
    padding: .8em;
    border-radius: 5px;
    background-color: #70C1B3;
    box-shadow: .15em .15em;
}

#settings-container {
    margin-top: 3em;
    position: absolute;
}

.song {
    border: 1px solid black;
    width: 250px;
    background-color: #70C1B3;
}

.song > img {
    cursor: pointer;
}

.current {
    background-color: #008DD5;
}

img {
    width: 250px;
    height: 250px;
}

#songlist {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

#fullPlayer {
    margin: auto;
    width: 20em;
    text-align: center;
}

#fullPlayer > img {
    width: 100%;
    height: 20em;
}

#fullPlayer > audio {
    width: 100%;
    margin-top: -5px;
}

#playlist {
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #70C1B3;
    border: 1px black solid;
    width: 18em;
    border-radius: 5px;
}

#playlist-title {
    text-align: center;
}

#playlist-content {
    padding-left: .4em;
}