.song {
    border: 1px solid black;
    cursor: pointer;
    width: 250px;
}

.current {
    background-color: greenyellow;
}

img {
    width: 250px;
    height: 250px;
}

#songlist {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}