<div class="modal-background"></div>
<div class="modal-card">
    <section class="modal-card-body">
        <form id="password-submit">
            <div class="field">
                <label class="label">{{ "login.password" | trans }}</label>
                <div class="control">
                    <input class="input" id="password-text" type="password"/>
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <input class="button is-primary" type="submit"/>
                </p>
                <p class="control">
                    <button id="password-cancel" class="button">{{ "login.cancel" | trans }}</button>
                </p>
            </div>
        </form>
    </section>
</div>