<div class="navbar-brand">
    <div class="navbar-item has-dropdown is-active" id="settings">
        <button class="navbar-link" id="toggle-settings">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <div id="settings-dropdown" class="navbar-dropdown is-hidden">
            <fieldset class="box">
                <legend class="label has-text-centered">Settings</legend>
                <button class="button" id="toggleAdmin" disabled>Switch to admin mode</button><br>
                <button class="button" id="minimalistMode">Toggle minimalist mode</button>
                <div class="field">
                    <input id="use-raw" type="checkbox" class="switch is-rounded"/>
                    <label for="use-raw">Use raw audio instead of normalized</label>
                </div>
            </fieldset>
            {% if metadata.readme is not empty %}
            <fieldset class="box">
                <legend class="label has-text-centered">Readme</legend>
                <div id="readme">
                    {{ metadata.readme | map(x => x | replace({'<': '&lt;' })) | join('<br>') | raw }}
                </div>
            </fieldset>
            {% endif %}
            {% if metadata.showLastfm %}
            <fieldset class="box">
                <legend class="label has-text-centered">last.fm</legend>
                <div>
                    <button class="button" id="lastfmLogin" disabled>Login with last.fm</button><br/>
                    <small>This will use cookies to store your token</small><br/>
                    last.fm status: <span id="lastfmStatus"></span><br/>
                </div>
            </fieldset>
            {% endif %}
            <fieldset class="box">
                <legend class="label has-text-centered">Download</legend>
                <div id="download-progress">
                </div>
            </fieldset>
            <fieldset class="box">
                <legend class="label has-text-centered">Error Logs</legend>
                <p id="error-log"></p>
            </fieldset>
            {% if metadata.showGitHub %}
            <fieldset class="box">
                <legend class="label has-text-centered">Source Code</legend>
                <a class="button" target="_blank" href="https://github.com/Xwilarg/Euphonia">GitHub</a>
            </fieldset>
            {% endif %}
            {% if metadata.showDebug %}
            <fieldset class="box">
                <legend class="label has-text-centered">Advanced Settings</legend>
                API location: <span id="apiTarget"></span><br>
                <button class="button requires-admin" id="check-integrity">Validate integrity</button>
            </fieldset>
            {% endif %}
        </div>
    </div>
    <button class="navbar-item" id="back">
        <span class="material-symbols-outlined">arrow_back</span>
    </button>
    <div class="navbar-item has-dropdown is-active" id="volume-container">
        <button class="navbar-item" id="toggle-volume">
            <span class="material-symbols-outlined">volume_up</span>
        </button>
        <div id="volume-container-dropdown" class="navbar-dropdown has-text-centered is-hidden">
            <input type="range" max="100" id="volume"/>
        </div>
    </div>
    <button class="navbar-item requires-admin" id="upload">
        <span class="material-symbols-outlined">upload</span>
    </button>
</div>