<div class="song card playlist">
    <div class="is-flex is-flex-wrap-wrap is-gap-0 playlist-img-container card-image">
    </div>
    <div class="card-content has-text-centered">
        <p>
        </p>
    </div>
</div>