<div class="song card">
    <div class="song-img card-image">
        <figure class="image">
            <img/>
        </figure>
    </div>
    <div class="card-content">
        <p></p>
        <div class="tags-container">
        </div>
        <div class="dropdown is-hoverable requires-admin">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span class="material-symbols-outlined">settings</span>
                </button>
            </div>
            <div class="dropdown-menu dropdown-menu5" role="menu">
                <div class="dropdown-content">
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu4" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-trigger">
                        <div class="dropdown-item">
                            <button class="button is-fullwidth song-playlist button-hint" aria-haspopup="true" aria-controls="dropdown-menu5" disabled>{{ "song.settings.playlist" | trans }}</button>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <button class="button is-fullwidth song-edit">{{ "song.settings.edit" | trans }}</button>
                    </div>
                    <div class="dropdown-item">
                        <button class="button is-fullwidth song-repair">{{ "song.settings.redownload" | trans }}</button>
                    </div>
                    <div class="dropdown-item">
                        <button class="button is-fullwidth song-archive">{{ "song.settings.archive" | trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>