<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tools</title>
        <meta property="og:title" content="Tools"/>
        <meta property="og:description" content="Setup tools for Euphonia"/>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="/js/tools.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"/>
        <link rel="stylesheet" href="/css/customize.css"/>
    </head>
    <body class="container">
        <fieldset class="box">
            <legend class="label has-text-centered">Password generator</legend>
            <form id="password-form">
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password" placeholder="Your password"/>
                    </div>
                </div>
                <div class="field">
                    <input class="button is-link" type="submit"/>
                </div>
            </form>
        </fieldset>
    </body>
</html>