<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tools</title>
        <meta property="og:title" content="Tools"/>
        <meta property="og:description" content="Setup tools for Euphonia"/>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/tools.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
        <link rel="stylesheet" href="/css/customize.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <fieldset>
            <legend>Password generator</legend>
            <form id="password-form">
                <input type="password" id="password" placeholder="Your password"/>
                <input type="submit"/>
            </form>
        </fieldset>
    </body>
</html>