<form id="upload-form">
    <input type="text" name="Name" placeholder="Song name"/>
    <input type="text" name="Artist" placeholder="Artist name"/>
    <input type="text" name="Youtube" placeholder="YouTube URL"/>
    <input type="text" name="AlbumName" placeholder="Album Name"/>
    <input type="url" name="AlbumUrl" placeholder="Album URL" id="upload-url"/>
    <input type="text" name="SongType" placeholder="Song type"/>

    <input type="submit"/>
</form>

<iframe id="upload-yt-player" src="" frameborder="0" allow="" referrerpolicy="strict-origin-when-cross-origin" ></iframe>