html {
    font-family: var(--font);
    color: var(--text);
    background-color: var(--background);
    background: linear-gradient(var(--background), var(--background-dark));
    min-height: 100%;
}

#banner {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: calc(40px + .25em * 2 + 5px);
    left: 0;
    z-index: 2;
    position: fixed;
    background-color: var(--banner);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--banner-text);
}

#banner h1 {
    font-size: xx-large;
}

#banner-buttons {
    position: fixed;
    top: .2em;
    left: .5em;
    z-index: 2;
}

#banner-buttons .material-symbols-outlined {
    position: relative;
    top: -4px;
}

#settings {
    position: fixed;
    top: 3em;
    left: 0;
    background-color: var(--settings);
    padding: .5em;
    height: 100%;
    z-index: 2;
}

#volume-container {
    position: fixed;
    top: 3em;
    left: 4.6em;
    background-color: var(--settings);
    padding: .5em;
    height: 305px;
    z-index: 3;
    writing-mode: vertical-lr;
    width: 20px;
    border-radius: 5px;
    direction: rtl;
}

#volume {
    height: 90%;
    margin-left: -10px;
}

fieldset {
    border-color: var(--fieldset);
    margin-top: 1em;
    padding: 1em;
}

h2 {
    text-align: center;
}

#canvas {
    margin-top: 4em;
}

#actions {
    text-align: center;
    margin-bottom: 2em;
}

input {
    padding: .8em;
    border-radius: 5px;
    background-color: var(--search-input);
    border: 1px var(--search-input-border) solid;
}

button, .button:not(h2) {
    padding: .8em;
    margin: .25em;
    border-radius: 5px;
    background-color: var(--button);
    box-shadow: .15em .15em var(--button-shadow);
    border: 1px var(--button-border) solid;
    color: var(--button-text);
    font-size: .8em;
    height: 40px;
    text-decoration: none;
}

h2.button:hover {
    cursor: pointer;
    color: var(--button-hover);
}

button:disabled, .button:disabled:not(h2) {
    box-shadow: none;
    background-color: var(--button-disabled);
}

button:hover:not(:disabled), .button:hover:not(h2):not(:disabled) {
    box-shadow: .25em .25em var(--button-shadow);
    background-color: var(--button-hover);
}

button:active {
    box-shadow: none;
}

.song {
    margin: .5em;
    width: 250px;
    background-color: var(--song);
    border-radius: 5px;
    color: var(--song-text);
    border: var(--song-border-size) solid var(--song-border);
}

.song > p {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.song img {
    cursor: pointer;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 5px;
}

.current {
    background-color: var(--current);
    color: var(--current-text);
}

img {
    width: 250px;
    height: 250px;
}

.playlist-display-container img {
    width: 125px;
    height: 125px;
}

@media (max-width: 600px) {
    .song {
        width: 150px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    .playlist-display-container img {
        width: 75px;
        height: 75px;
    }
}

.list-wrapper, .list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

.list {
    max-width: calc(300px * 5);
}

#playlist {
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: var(--playlist);
    border: 1px var(--playlist-border) solid;
    width: 25em;
    border-radius: 5px;
    color: var(--playlist-text);
    z-index: 2;
}

@media (max-width: 50em) {
    #playlist {
        width: 100%;
    }
}

#playlist-title {
    text-align: center;
}

.next-song {
    padding: .4em 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hidden {
    display: none;
}