#upload-window {
    position: absolute;
    top: 20em;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border: 1px solid black;
    background-color: var(--settings);
    border-radius: 5px;
    z-index: 4;
}

#upload-window form {
    display: flex;
    flex-direction: column;
}